<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
</head>
<body>
<!--<div th:insert="common/common :: title"></div>-->

    <a th:href="@{/user/}+'add'">[[#{user.add}]]</a>


<form align="center" th:width="800px" th:action="@{/user/selectUser}" method="post">
    [[#{user.name}]]：<input type="text" name="name" id="name"/>
    [[#{user.age}]]：<input type="text" name="age" id="age"/>
    [[#{user.address}]]：<input type="text" name="address" id="address"/>
    [[#{user.sex}]]：<input type="radio" name="sex" value="1">[[#{user.man}]]</input><input type="radio" name="sex" value="2">[[#{user.wumen}]]</input>
    <input type="submit" th:value="#{user.search}"><br>
</form>

    <table border="1" cellspacing="0" th:width="800px" align="center">
        <tr>
            <td>[[#{user.id}]]</td>
            <td>[[#{user.name}]]</td>
            <td>[[#{user.age}]]</td>
            <td>[[#{user.address}]]</td>
            <td>[[#{user.sex}]]</td>
            <td>[[#{user.action}]]</td>
        </tr>
        <tr th:each="user:${userList}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
<!--            <td th:text="${user.age}"></td>-->
            <td>[[${user.age}]]</td>
            <td th:text="${user.address}"></td>
            <td th:if="${user.sex==1}">男</td>
            <td th:if="${user.sex==2}">女</td>
            <td>
<!--                <a th:href="@{/selectOne1(id=${user.id},name=${user.name})}">编辑(普通)</a>-->
                <a th:href="@{/user/editInfo/}+${user.id}+@{/}+${user.name}">[[#{user.edit}]]</a>
                <a th:href="@{/user/delUser/}+${user.id}+@{/}+${user.name}">[[#{user.del}]]</a>
               <!-- <a th:href="@{/selectOne/}+${user.id}+@{/}+${user.name}+'.html'">查看(restFul,伪请求)</a>-->
            </td>
        </tr>
    </table>

<!--<div th:include="common/common :: #inId"></div>-->

<!--<div th:replace="common/common :: copy"></div>-->
</body>
</html>